h1{
               color: aqua;
               text-decoration: line-through;

}
body{
               background-color: gold;
}

button{
               background-color: blue;
}
h4{
               color: green;
}